

.house-icon {
    /*    background-image: url(../img/house.png);  16px x 16px */
    background-image: url(../img/point.png);
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat; /* make the background image appear only once */
    background-position: 7px 7px; /* equivalent to 'top left' */
    border: 1px solid #ccc; /* assuming we don't want any borders */
    border-radius: 5px;
    height: 32px; /* make this the size of your image */
    width: 32px; /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}

.house-icon-move {
    /*    background-image: url(../img/house.png);  16px x 16px */
    background-image: url(../img/point_move.jpg);
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat; /* make the background image appear only once */
    background-position: 7px 7px; /* equivalent to 'top left' */
    border: 1px solid #ccc; /* assuming we don't want any borders */
    border-radius: 5px;
    height: 32px; /* make this the size of your image */
    width: 32px; /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}

.road-icon {
    background-image: url(../img/new_line1.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat; /* make the background image appear only once */
    background-position: 5px 3px; /* equivalent to 'top left' */
    border: 1px solid #ccc; /* assuming we don't want any borders */
    border-radius: 5px;
    height: 32px; /* make this the size of your image */
    width: 36px; /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}

.road-icon-move {
    background-image: url(../img/move_line_vertex.jpg); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat; /* make the background image appear only once */
    background-position: 5px 3px; /* equivalent to 'top left' */
    border: 1px solid #ccc; /* assuming we don't want any borders */
    border-radius: 5px;
    height: 32px; /* make this the size of your image */
    width: 36px; /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}


.road-icon-a {
    background-image: url(../img/new_line_plus.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat; /* make the background image appear only once */
    background-position: 5px 3px; /* equivalent to 'top left' */
    border: 1px solid #ccc; /* assuming we don't want any borders */
    border-radius: 5px;
    height: 32px; /* make this the size of your image */
    width: 36px; /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}

.road-icon-d {
    background-image: url(../img/new_line_minus.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat; /* make the background image appear only once */
    background-position: 5px 3px; /* equivalent to 'top left' */
    border: 1px solid #ccc; /* assuming we don't want any borders */
    border-radius: 5px;
    height: 32px; /* make this the size of your image */
    width: 36px; /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}

.edit-identify {
    background-image: url(../img/identify_icon.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat; /* make the background image appear only once */ /* equivalent to 'top left' */
    background-position: 3px 3px; /* equivalent to 'top left' */
    border: 1px solid #ccc; /* assuming we don't want any borders */
    border-radius: 5px;
    height: 32px; /* make this the size of your image */
    width: 32px; /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}

.refresh-icon {
    background-image: url(../img/refresh_icon.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat; /* make the background image appear only once */
    background-position: 5px 3px; /* equivalent to 'top left' */
    border: 1px solid #ccc; /* assuming we don't want any borders */
    border-radius: 5px;
    height: 32px; /* make this the size of your image */
    width: 36px; /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}

.clear-icon {
    background-image: url(../img/clear_icon.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat; /* make the background image appear only once */
    background-position: 5px 3px; /* equivalent to 'top left' */
    border: 1px solid #ccc; /* assuming we don't want any borders */
    border-radius: 5px;
    height: 32px; /* make this the size of your image */
    width: 36px; /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}

.editor-legend {
    background-position-x: right;
    margin-left: 16px;
    height: 25px;
    width: 75px;
    display: block;
    background-repeat: no-repeat;
    font-size: 10px;
    font-style: italic;
}

.view {
    height: 65vh;
    overflow-y: scroll;
}

/**-----------------legend of drawAPP------------*/
.prop-button-container {
    margin-top: 10px;
}

.existing_projects_tap-legend {
    background-image: url(../img/editor_img/tap.png);
}

.existing_projects_junction-legend {
    background-image: url(../img/editor_img/junction.png);
}

.existing_projects_pipe-legend {
    background-image: url(../img/editor_img/pipe-icon.png);
}

.existing_projects_project_details-legend {
    background-image: url(../img/editor_img/project.png);
}

.existing_projects_structure-legend {
    background-image: url(../img/editor_img/structure.png);
}

.existing_projects_water_source-legend {
    background-image: url(../img/editor_img/source.png);
}

.existing_projects_reservoir-legend {
    background-image: url(../img/editor_img/reservoir.png);
}

.existing_projects_leftout_taps-legend {
    background-image: url(../img/editor_img/leftouttap.png);
}

.existing_projects_project_coverage-legend {
    /*background-image: url(../img/editor_img/ph.png);*/
}