
.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px;
    right: -25px;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 2;
    }
}

.card-login {
    max-width: 25rem;
}

.card-register {
    max-width: 40rem;
}

footer.sticky-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #e9ecef;
    line-height: 55px;
}

@media (min-width: 992px) {
    footer.sticky-footer {
        width: calc(100% - 250px);
    }
}

@media (min-width: 992px) {
    body.sidenav-toggled footer.sticky-footer {
        width: calc(100% - 55px);
    }
}

/*google chart(Line) measurements*/
/*@media screen and (min-width: 1899px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 1;
    }

    div#WssCostChart{
        zoom:1;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom:1;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom:1;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom:1;
    }

}

@media screen and (max-width: 1898px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 1.05;
    }

    div#WssCostChart {
        zoom: 1;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom: 1;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 1;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 1;
    }
}


@media screen and (max-width: 1800px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 1.05;
    }

    div#WssCostChart {
        zoom: 1;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom: 1;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 1;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 1;
    }
}

@media screen and (max-width: 1799px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 1.05;
    }

    div#WssCostChart {
        zoom: 1;
    }*/
    /*sanitation*/
    /*div#HHSanPop {
        zoom: 1;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 1;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 1;
    }
}

@media screen and (max-width: 1600px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 1;
    }

    div#WssCostChart {
        zoom: 1;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom: 1;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 0.9;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 0.9;
    }
}

@media screen and (max-width: 1500px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 0.88;
    }

    div#WssCostChart {
        zoom: 1;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom: 0.7;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 0.7;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 0.9;
    }
}

@media screen and (max-width: 1440px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 0.7;
    }

    div#WssCostChart {
        zoom: 1;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom: 0.7;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 0.7;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 0.85;
    }
}


@media screen and (min-width:1267) and ( max-width: 1366px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 0.75;
    }

    div#WssCostChart {
        zoom: 1;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom: 0.7;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 0.7;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 0.7;
    }
}


@media screen and (max-width: 1200px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 0.6;
    }

    div#WssCostChart {
        zoom: 1;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom: 0.6;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 0.6;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 0.7;
    }
}

@media screen and (max-width: 1100px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 0.55;
    }

    div#WssCostChart {
        zoom: 1;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom: 0.5;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 0.5;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 0.6;
    }
}

@media screen and (max-width: 1080px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 0.5;
    }
    div#WssCostChart {
        zoom: 0.6;
    }*/
    /*sanitation*/
    /*div#HHSanPop {
        zoom: 0.5;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 0.7;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 0.6;
    }
}

@media screen and (max-width: 1024px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 0.4;
    }

    div#WssCostChart {
        zoom: 0.5;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom: 0.4;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 0.4;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 0.55;
    }
}

@media screen and (max-width: 720px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 1.03;
    }

    div#WssCostChart {
        zoom: 0.5;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom: 0.7;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 0.7;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 0.5;
    }
}

@media screen and (max-width: 600px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 0.8;
    }

    div#WssCostChart {
        zoom: 0.8;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom: 0.7;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 0.7;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 0.8;
    } 
}

@media screen and (max-width: 480px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 0.6;
    }

    div#WssCostChart {
        zoom: 0.6;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom: 0.5;
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 0.5;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 0.5;
    }
}

@media screen and (max-width: 380px) {*/
    /*water supply*/
    /*div#WsPop {
        zoom: 0.4;
    }

    div#WssCostChart {
        zoom: 0.4;
    }*/

    /*sanitation*/
    /*div#HHSanPop {
        zoom: 0.2; 
    }*/

    /*school*/
    /*div#WashSchoolLineChart {
        zoom: 0.2;
    }*/

    /*health care*/
    /*div#WashHCFLineChart {
        zoom: 0.3;
    }
}*/

.borderdiv2 {
    flex: 1;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.interdiv2 {
    flex: 1;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}