@{
    ViewData["Title"] = "WQs Dashboard";
}
<div>
    <p>
        Surveillance of communicable diseases is a systematic and ongoing process of collecting information
        and analyzing data on cases of infectious diseases. It provides relevant information to decision makers
        for public health priorities and resource allocation. By this process, public health professionals can
        determine actions that are needed to prevent outbreaks and reduce the burden of communicable
        diseases.
    </p>
    <p>
        The National Drinking Water Quality Standard, 2079 has assigned the water quality surveillance and
        certification of a water safety plan to the Ministry of Health and Population (MoHP) and its agencies for
        maintaining the drinking water quality as per the standards. Therefore, in the case of the federal
        government Ministry of Health and Population and its subordinate bodies, likely for the provincial
        government, the relevant ministry or recognized independent body looking at the health sector, and for
        the local level, the relevant unit or recognized independent body designated by the local level should be
        considered as surveillance agency.
    </p>
    <div class="row">
        <div class="col"><img src="" />
            <span>National Level: Institutional Framework of Water Quality Monitoring & Survelliance</span></div>
        <div class="col"><img src="" />
            <span>Provincial Level: Institutional Framework of Water Quality Monitoring & Surveillance</span></div>
    </div>
</div>